@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(../assets/fondoheader.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90px;
}
header .offcanvas {
  background-color: #030D76;
}
header .offcanvas-header {
  background-color: #030D76;
}
header header .nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #c1cdcd;
}
header header .nav-link:hover {
  color: #ffffff;
}
header .navbar-toggler {
  border: none;
  font-size: 1rem;
}
header .logo {
  width: 100px;
}

.inicio {
  height: 80vh;
  display: flex;
}
.inicio .foto-izq-contenedor {
  display: flex;
  justify-content: center;
  height: 80vh;
  overflow: hidden;
}
.inicio .foto-izq-contenedor .foto-izq {
  height: 100%;
  object-fit: cover;
}
.inicio .foto-der-contenedor {
  display: flex;
  justify-content: center;
  height: 80vh;
  overflow: hidden;
}
.inicio .foto-der-contenedor .foto-der {
  height: 100%;
  object-fit: cover;
}
.inicio #inicio-carousel {
  width: 60vw;
  min-width: 378px;
  margin: auto;
  overflow:  hidden;
}
.inicio #inicio-carousel .carousel-item {
  height: 80vh;
  position: relative;
}
.inicio #inicio-carousel .carousel-item .foto-custom {
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}
.inicio #inicio-carousel .carousel-caption h1 {
  z-index: 10;
  width: 270px;
  height: 50px;
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  text-align: left;
  font-size: 60px;
}
.inicio #inicio-carousel .carousel-caption h2 {
  color: #ffffff;
  text-align: left;
  font-family: "Playwrite GB S", cursive;
  font-size: 45px;
}
.inicio #inicio-carousel .carousel-caption p {
  text-align: left;
  font-family: "Kanit", sans-serif;
}
.inicio #inicio-carousel .carousel-caption input {
  font-family: "Open Sans", sans-serif;
  min-width: 110px;
  height: 30px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  border: none;
  background: #271080;
  box-shadow: 0 5px #271080;
}
.inicio #inicio-carousel .carousel-caption input:hover {
  box-shadow: 0 3px #271080;
  top: 1px;
}
.inicio #inicio-carousel .carousel-caption input:active {
  box-shadow: 0 0 #271080;
  top: 5px;
}
.inicio #inicio-carousel .carousel-caption .titulo-inicio {
  color: #FF003F;
  font-family: "Montserrat", sans-serif;
}

.estadioPag {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(1, 0, 78);
  background: linear-gradient(180deg, rgb(1, 0, 78) 50%, rgb(151, 0, 73) 100%);
  margin-top: -1.2rem;
}
.estadioPag p {
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  margin: 20px;
  text-align: center;
  width: 70vw;
}
.estadioPag h1 {
  padding: 45px;
  margin: 0;
  font-size: 60px;
  color: #ffffff;
  font-family: font-title2;
}

.mapa iframe {
  max-width: 100vw;
  margin: 10px;
  padding: 10px;
}

#carouselExampleSlidesOnly {
  width: 70vw;
}
#carouselExampleSlidesOnly .foto-c {
  height: 70vh;
  object-fit: cover;
  position: relative;
}

.galeria {
  margin-top: -1rem;
  background-image: url(../images/fondogaleria.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.galeria h1 {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
}

.col img {
  width: 100%;
  padding: 5px;
  background-color: #2980B9;
  max-height: 262px;
  object-fit: cover;
}

.contacto {
  background-image: url(../images/fondo.jpg);
  background-position: center;
  min-height: 75vh;
}
.contacto .contactoTitulo {
  margin-top: 10px;
  color: #cf3671;
}
.contacto .form-label {
  padding: 5px;
  border-radius: 20px;
}
.contacto .row {
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  color: #2ec2fd;
}
.contacto #exampleFormControlTextarea1 {
  resize: none;
}
.contacto .btn-primary {
  background-color: #2ec2fd;
  color: #ffffff;
  border-color: #2ec2fd;
}

footer {
  background-color: #0c0c0c;
  display: flex;
  justify-content: space-between;
}
footer div {
  width: 33vw;
  align-items: center;
  display: flex;
  justify-content: center;
}
footer div p {
  color: #f0ffff;
  margin-left: 10px;
}

.sponsorsContenedor {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
}
.sponsorsContenedor .sponsors {
  width: 40px;
  margin: 20px;
  height: 40px;
}

.redesContenedor {
  display: flex;
  flex-direction: row;
  width: 160px;
  flex-wrap: wrap;
}
.redesContenedor .redes {
  width: 40px;
  margin: 20px;
  height: 40px;
}

.leyendas {
  background: rgb(1, 0, 78);
  background: linear-gradient(180deg, rgb(1, 0, 78) 50%, rgb(151, 0, 73) 100%);
}
.leyendas h1 {
  text-align: center;
  color: #ffffff;
  font-family: font-title2;
  font-size: 60px;
}
.leyendas .imagenes {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.leyendas img {
  width: 33%;
  height: 300px;
  max-width: 100%;
  object-fit: cover;
}
.leyendas h2 {
  text-decoration: underline;
  text-align: center;
  font-size: 40px;
  color: #FF003F;
  font-family: "Bebas Neue", sans-serif;
}
.leyendas p {
  color: #ffffff;
  font-family: "Kanit", sans-serif;
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-size: 25px;
  border: 2px solid white;
  white-space: pre-line;
}
.leyendas .videoMessi {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.leyendas .videoJohanCruyff {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.leyendas .logros {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
