body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(../assets/fondoheader.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90px;
}

.offcanvas-header {
  background-color: #030D76;
}
.offcanvas-body {
  background-color: #ff6347;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #ff6347;
}
.nav-link:hover {
  color: #ffffff;
}

.navbar-toggler {
  border: none;
  font-size: 1rem;
}

.logo {
  width: 100px;
}

.inicio {
  height: 80vh;
  background: url(../images/fondo-inicio.jpg) left no-repeat, url(../images/fondo-inicio-2.jpg) right no-repeat;
}

#inicio-carousel {
  max-width: 60vw;
  margin: auto;
}

.carousel-item {
  height: 80vh;
}

.foto-custom {
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.carousel-caption h1 {
  width: 270px;
  height: 50px;
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  text-align: left;
  font-size: 60px;
}
.carousel-caption h2 {
  color: #ffffff;
  text-align: left;
  font-family: "Playwrite GB S", cursive;
  font-size: 45px;
}
.carousel-caption p {
  text-align: left;
  font-family: "Kanit", sans-serif;
}

.titulo-inicio {
  color: #FF003F;
  font-family: "Montserrat", sans-serif;
}

.boton-inicio {
  font-family: "Open Sans", sans-serif;
  min-width: 110px;
  height: 30px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  border: none;
  background: #271080;
  box-shadow: 0 5px #271080;
}
.boton-inicio:hover {
  box-shadow: 0 3px #271080;
  top: 1px;
}
.boton-inicio:active {
  box-shadow: 0 0 #271080;
  top: 5px;
}

.estadioPag {
  background: rgb(136, 8, 8);
  background: linear-gradient(90deg, rgb(136, 8, 8) 10%, rgb(0, 0, 0) 26%, rgb(4, 2, 41) 76%, rgb(5, 0, 125) 90%);
  margin-top: -1.2rem;
}

.estadioP {
  text-align: justify;
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  margin: 20px;
}

.estadioPag h1 {
  background-image: url(../images/fondoestadio.jpg);
  padding: 5px;
  margin: 0;
  margin-top: 10px;
  color: #FF3800;
  font-size: 70px;
  text-align: center;
  font-family: "Kanit", sans-serif;
}

#carouselExampleSlidesOnly {
  margin: 0 auto;
  max-height: 700px;
  display: flex;
}

.galeria {
  margin-top: -1rem;
  background-image: url(../images/fondogaleria.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.galeria h1 {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
}

.col img {
  max-width: 100%;
  margin: 20px;
  padding: 5px;
  background-color: #2980B9;
}

.contacto {
  justify-content: center;
  background-image: url(../images/fondo.jpg);
  background-position: center;
  min-height: 75vh;
}

.contactoTitulo {
  display: flex;
  margin-top: 10px;
  color: #cf3671;
}

.form-label {
  padding: 5px;
  border-radius: 20px;
}

.row {
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  color: #2ec2fd;
}

#exampleFormControlTextarea1 {
  resize: none;
}

.btn-primary {
  background-color: #2ec2fd;
  color: #ffffff;
  border-color: #2ec2fd;
}

footer {
  background-color: #0c0c0c;
  display: flex;
  justify-content: space-between;
}
footer div {
  width: 33vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer div p {
  color: #f0ffff;
  margin-left: 10px;
}

.sponsorsContenedor {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
}

.sponsors {
  display: flex;
  width: 40px;
  margin: 20px;
}

.redes {
  display: flex;
  flex-direction: row;
  width: 160px;
  flex-wrap: wrap;
}

.redesSociales {
  width: 40px;
  margin: 20px;
}

.leyendas {
  display: flex;
  background-color: #0c2340;
  align-items: center;
  flex-direction: row;
  height: 80vh;
}

.subtituloMessi {
  color: #00ffff;
}

.messiFoto {
  width: 200px;
  margin-right: 20px;
}

.messi {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #ffffcc;
}

.messiP {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #ffffcc;
}

.videoMessi {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/*# sourceMappingURL=main.css.map */
