/*google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
header {
  background-image: url(../images/fondoheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  height: 70px;
}
.offcanvas-header {
  background-color: #030D76  ;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  color: #9199E3 ;
  font-size: 20px;
}

.navbar-toggler {
  border: none;
  font-size: 1rem;
}
.nav-link:hover {
  color: #ffffff;
}
body {
  margin: 0;
  padding: 0;
}
.logo {
  width: 100px;
}
.encabezado li {
  display: inline;
  margin: 10px;
}
.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tituloInicio {
  color: #0000ff;
}
.inicioFotos {
  width: 250px;
  margin: 20px;
  height: 400px;
  object-fit: cover;
}
.inicioRedirecciones {
  text-align: center;
}
main {
  margin-top: -1rem;
  background-image: url(../images/fondoinicio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: #b0c4de;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  margin-top: 1rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: #00008b;
}
main section article p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  margin: 40px;
  color: #000000;
}
footer {
  background-color: #0c0c0c;
  display: flex;
  justify-content: space-between;
  min-height: 30vh;
}
footer div {
  width: 33vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer div p {
  color: #f0ffff;
  margin-left: 10px;
}
.sponsorsContenedor {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
}
.sponsors {
  display: flex;
  width: 40px;
  margin: 20px;
}
.redes {
  display: flex;
  flex-direction: row;
  width: 160px;
  flex-wrap: wrap;
}
.redesSociales {
  width: 40px;
  margin: 20px;
}

.contacto {
  justify-content: center;
  background-image: url(../images/fondo.jpg);
  background-position: center;
  min-height: 75vh;
}
.contactoTitulo {
  display: flex;
  margin-top: 10px;
}
.form-label {
  padding: 5px;
  border-radius: 20px;
  background-color: #F5F5DC;
}

.row {
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  color: #2959B9
}
.form-control {
  background-color: #BD81C2 ;
}
#exampleFormControlTextarea1 {
resize: none;
}


.btn-primary {
  background-color: #7129B9;
  color: #ffffff;
  border-color: #7129B9;
}

.estadioPag {
  background-image: url(../images/fondoestadio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -1.2rem;
}
.estadioP {
  text-align: justify;
  color: #ffffcc;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  margin-right: 20px;
  margin-left: 20px;
}
.estadioFoto {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 60vh;
}
.estadioPag div h1 {
  padding: 10px;
  color: #ff1493;
}
.mapaEstadio {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.leyendas {
  display: flex;
  background-color: #0c2340;
  align-items: center;
  flex-direction: row;
}
.subtituloMessi {
  color: #00ffff;
}
.messiFoto {
  width: 200px;
  margin-right: 20px;
}
.messi {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #ffffcc;
}
.messiP {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #ffffcc;
}
.videoMessi {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.galeria {
  margin-top: -1rem;
  background-image: url(../images/fondogaleria.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.col img {
  max-width: 100%;
  margin: 20px;
  padding: 10px;
  background-color: #2980B9;
}