header {
  background-image: url(../assets/fondoheader.jpg);
  @include fondos(cover, no-repeat);
  height: 90px;
  .offcanvas {
    background-color: $color-header;
  }
  .offcanvas-header {
    background-color: $color-header;
  }
  .nav-link {
    font-family: $font-title2;
    font-size: 20px;
    color: #c1cdcd;
  
    &:hover {
      color: $color-contraste;
    }
  }
  .navbar-toggler {
    border: none;
    font-size: 1rem;
  }
  .logo {
    width: 100px;
  }
}


