header {
    background-image: url(../assets/fondoheader.jpg);
    @include fondos (cover,no-repeat);
    height: 90px;
  }
  .offcanvas {
    &-header{
        background-color: $color-header;
    }
    &-body {
      background-color: #ff6347;
    }
  }

  .nav-link {
    font-family: $font-title2;
    font-size: 20px;
    color: #ff6347;
  
    &:hover {
      color: #ffffff;
    }
  }
  .navbar-toggler {
    border: none;
    font-size: 1rem;
  }
  .logo {
    width: 100px;
  }