.galeria {
  margin-top: -1rem;
  background-image: url(../images/fondogaleria.jpg);
  @include fondos(cover, no-repeat);
  min-height: 100vh;
  h1 {
    text-align: center;
    font-family: $font-parrafo;
    color: $color-contraste;
  }
}

.col img {
  width: 100%;
  padding: 5px;
  background-color: $color-fondo;
  max-height: 262px;
  object-fit: cover;
}
