
.galeria {
    margin-top: -1rem;
    background-image: url(../images/fondogaleria.jpg);
    @include fondos (cover,no-repeat);
     h1 {
      text-align: center;
      font-family: $font-parrafo;
      color: $color-contraste;
     }
  }
  
  .col img {
    max-width: 100%;
    margin: 20px;
    padding: 5px;
    background-color: $color-fondo;
  }
  