.inicio {
    height: $tamaño;
    background-image: url(../images/fondo-inicio.jpg);
    @include fondos (cover,no-repeat);
}
#inicio-carousel {
    max-width: 60vw;
    margin: auto;
}
.carousel-inner {
    display: flex;
}
.carousel-item {
    height: $tamaño;
}
.foto-custom {
    height: 100%;
    object-fit: cover;
    padding: 1rem;
}
.carousel-caption {
    justify-content: center;
    h1 {
        width: 270px;
        height: 50px;
        background-color: aqua;
    }
}
.titulo-inicio {
    color: $color-titulos;
    font-family: $font-title1;
}
.boton-inicio {
    font-family: $font-title1;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: $color-boton;
    box-shadow: 0 5px $color-boton;
    
 &:hover {
    box-shadow: 0 3px $color-boton;
    top: 1px;
 }
 &:active {
    box-shadow: 0 0 $color-boton;
  top: 5px;
 }
    
}
h2 {
    font-family: $font-title1;
    color: #381cb1;
}

// .inicio {
//     margin-top: -1rem;
//     background-image: url(../images/fondoinicio.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 80vh;
    
//     div p {
//         font-family: $font-title1;
//         font-optical-sizing: auto;
//         margin: 40px;
//         color: #000000;
//       }
//   }
  
//   .tituloInicio {
//     color: #0000ff;
//   }
  
//   .inicioFotos {
//     width: 250px;
//     margin: 20px;
//     height: 400px;
//     object-fit: cover;
//   }
  
//   .inicioRedirecciones {
//     text-align: center;
    

//   }
  
