@mixin fondos ($size,$repeat) {
    background-size: $size;
    background-repeat: $repeat;
}
@mixin flex-centrado ($display,$align,$justify) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}
 