@mixin fondos ($size,$repeat) {
    background-size: $size;
    background-repeat: $repeat;
}
@mixin alineamiento ($display,$justify) {
    display: $display;
    justify-content: $justify;
}
@mixin texto ($color,$font) {
    color: $color;
    font-family: $font;
}
